<div class="panel fixedPanel chapterPanel">
   <div class="tabPanels">
      <component v-for="tab in tabs" :key="tab.name" :is="tab.component" v-show="tab.name === selectedTabName"></component>
   </div>
   <div class="pure-menu pure-menu-horizontal tabBar">
      <ul class="pure-menu-list">
         <li class="pure-menu-item" :class="{ 'pure-menu-selected': tab.name === selectedTabName }" v-for="tab in tabs">
            <tab-button class="pure-menu-link" v-bind="tab.button" :name="tab.name" @click="onTabClick"></tab-button>
         </li>
      </ul>
   </div>
</div>
