<div class="scrollingPanel gemsPanel">
   <div class="adjustableFont" v-if="chapter">
      <template v-if="hasAnyStudyContent">
         <div class="studyContentGroup" v-for="item in studyContent" v-if="item.hasAdditionalContent">
            <h3 v-html="item.standardCitation"></h3>
            <div v-if="item.studyNotes" v-html="item.studyNotes.content"></div>
         </div>
      </template>
      <p v-else>No additional content</p>
   </div>
   <div class="loadingIndicator" v-else><i class="fa fa-spinner" aria-hidden="true"></i></div>
</div>
