// General app styles

.geckoApp {
   display: flex;
   flex-direction: column;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   font-family: 'Open Sans', sans-serif;
}

.scrollingPanel {
   overflow: auto;
   overflow-wrap: break-word;
   box-sizing: border-box;
   width: 100%;
   padding: 0em 1em 2em 1em;
}

.text-scale-ten {
   .adjustableFont {
      font-size: 24px;
      .chapterText {
         font-size: 128px;
         .chapterNum {
            padding: 0.25em;
         }
      }
      .verse span {
         line-height: normal;
         &.style-b.first {
            padding-left: 0.5em;
         }
         &.style-l {
            text-indent: -1.5em;
            padding-left: 1.5em;
            display: block;
         }
         &.style-z {
            text-indent: -1em;
            padding-left: 1.5em;
            display: block;
         }
         &.style-p {
            text-indent: -1.5em;
            padding-left: 2em;
            display: block;
         }
      }
      .studyNotes {
         font-size: 128px;
      }
   }
}
