// General app styles

.geckoApp {
   display: flex;
   flex-direction: column;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}

.scrollingPanel {
   overflow: auto;
   width: 100%;
}
