// General app styles

.geckoApp {
   display: flex;
   flex-direction: column;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   font-family: 'Open Sans', sans-serif;
}

.scrollingPanel {
   overflow: auto;
   overflow-wrap: break-word;
   box-sizing: border-box;
   width: 100%;
   padding: 0em 1em 2em 1em;
}
