// Syles for book picker

.bookPicker {
   padding-top: 1em;
   .gridPicker {
      margin-bottom: 1em;
      .colorOne {
         background-color: $md-indigo-300;
      }
      .colorTwo {
         background-color: $md-indigo-400;
      }
      .colorThree {
         background-color: $md-indigo-500;
      }
   }
}
