// Syles for book picker

.bookPicker {
   padding-top: 1em;
   .gridPicker {
      margin-bottom: 1em;
      .colorOne {
         background-color: $md-blue-700;
         &:hover {
            background-color: $md-blue-900;
         }
      }
      .colorTwo {
         color: $md-grey-50;
         background-color: $md-blue-800;
         &:hover {
            background-color: $md-blue-900;
         }
      }
      .colorThree {
         background-color: $md-blue-900;
         &:hover {
            background-color: $md-blue-900;
         }
      }
   }
}
