// Styling for GemsPanel

.gemsPanel {
   h3 {
      margin: 0.5em 0;
      font-size: 1.75em;
      font-weight: normal;
      color: $md-grey-600;
   }
   .studyContentGroup {
      border-bottom: 1px solid $md-grey-400;
   }
   .studyNotes p:first-of-type {
      margin-top: 0;
   }
   a {
      // Disabled links until proper support can be added
      text-decoration: none;
      pointer-events: none;
      cursor: default;
      color: $md-black;
   }
}
