// Navigation bar styles

.navigationBar {
   background-color: $md-blue-800;
   box-shadow: 0 0 2px $md-grey-600;
   .pure-menu-link {
      font-size: 28px;
      padding: 8px 16px;
      color: $md-grey-100;
      &:hover,
      &:focus,
      &.router-link-exact-active, {
         background-color: $md-blue-900;
      }
   }
}
